@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/v4-shims.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// used by tailwind for defaults
@layer base {
    html {
        font-family: 'Source Sans Pro', sans-serif;
    }

    body {
        @apply relative min-h-screen m-0 p-0 pb-60 md:pb-72 lg:pb-80;
    }

    main {
        @apply p-4;
    }

    // section {
    //     @apply container mx-auto flex p-3;
    // }
    img {
        @apply w-full;
    }

    .vl {
        border-left: 2px solid #151926;
        height: 1.5rem;
    }

    nav a {
        border-bottom: 3px solid transparent;

        &:hover {
            color: #7CC1DF;
            border-bottom: 3px solid #7CC1DF;
            transition: color 0.3s linear 0.3s;
            transition: border 0.3s linear 0.1s;
        }

        &:active {
            color: #EBBB3F;
            border-bottom: 3px solid #EBBB3F;
        }
    }

    a {
        @apply no-underline ;
    }

    ul {
        @apply list-none;
    }

    h1 {
        @apply font-bold text-4xl  mb-8;
    }

    h2 {
        @apply font-bold text-3xl  mb-8;
    }

    p {
        @apply my-2
    }

    .icon {
        @apply absolute inset-y-0 left-0 flex items-center pl-5
    }
}

// used by tailwind for components
@layer components {
    .card {
        background-color: theme("colors.white");
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.16");
        box-shadow: theme("boxShadow.lg");
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-bottom: theme("spacing.6");
        width: 90%;
        min-height: max-content;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover, &:active {
            background-color: theme("colors.gray2");
        }
    }
}

.search {
    background-image: linear-gradient(180deg, #7CC1DF, rgba(233, 216, 88, 0.375), rgba(233, 215, 88, 0)), url('../images/design/group.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.about {
    background: rgb(233, 215, 88);
    background: linear-gradient(180deg, rgba(233, 215, 88, 0) 0%, rgba(233, 216, 88, 0.37) 15%, rgba(124, 193, 223, 1) 30%, rgba(251, 249, 244, 1) 54%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    &-page {
        background: linear-gradient(180deg, rgba(233, 215, 88, 0), rgba(233, 216, 88, 0.375), #7CC1DF);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;

    }
}

